# Python & virtual environments
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/
ENV/
*.egg-info/
.eggs/
build/
dist/
.python-version

# Testing, coverage & linting
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.rumdl_cache/

# IDEs & editors
.idea/
.idea-*/
*.iws

# Operating system files
# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Project-specific custom rules
benchmark/*.mtx
node_modules/

# LaTeX & documentation
**/auto/
*.aux
*.log
doc/images/*.pdf
doc/images/_build/
doc/images/**/*.bak*
doc/images/**/*.pdf

# Roseau repository filters
roseau/*
!roseau/load_flow
!roseau/load_flow_single
