[tool.poetry]
name = "roseau_load_flow"
version = "0.1.0"
description = "Three-phase load flow solver"
authors = [
    "Sébastien Vallet <sebastien.vallet@roseautechnologies.com>",
    "Benoît Vinot <benoit.vinot@roseautechnologies.com>",
    "Victor Gouin <victor.gouin@roseautechnologies.com>",
]
maintainers = ["Sébastien Vallet <sebastien.vallet@roseautechnologies.com>"]
license = "Proprietary"
repository = "https://github.com/RoseauTechnologies/Roseau_Load_Flow/"
readme = "README.md"
include = []
exclude = [
    "**/tests/**",
    "**/conftest.py",
]
packages = [
    { include = "roseau/load_flow" }
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
# Data
numpy = "^1.21.5"
pandas = "^1.4.0"
pygeos = ">=0.12.0"
geopandas = ">=0.10.2"
Shapely = "^1.8.0"
regex = ">=2022.1.18"
pint = ">=0.19.2"
requests = "^2.28.1"
rich = ">=11.0.0"

[tool.poetry.group.test.dependencies]
# Tests
pytest = "^7.1.2"
pytest-cov = "^4.0.0"
pytest-xdist = "^2.5.0"
requests-mock = "^1.9.3"

[tool.poetry.group.dev.dependencies]
# Code quality
coverage = { version = "^6.0.0", extras = ["toml"] }
flake8 = "^5.0.4"
pre-commit = "^2.6.0"
black = { version = ">=20.8b1", extras = ["jupyter"] }
isort = "^5.1.0"


[tool.poetry.group.doc.dependencies]
# Documentation
Sphinx = "^5.1.0"
myst-parser = ">=0.16.1"
sphinx-math-dollar = "^1.2.1"
sphinx-rtd-theme = "^1.0.0"
sphinx-autoapi = "^2.0.0"
jupyter = "^1.0.0"
nbsphinx = ">=0.8.9"

# Black
[tool.black]
line-length = 120
fast = true
target-version = ["py39", "py310"]

# isort
[tool.isort]
profile = "black"
line_length = 120
force_alphabetical_sort_within_sections = true
case_sensitive = true


# Coverage
[tool.coverage.run]
branch = true
omit = ["roseau/load_flow/__about__.py"]

[tool.coverage.paths]
source = ["roseau/load_flow/"]

[tool.coverage.report]
# Regexes for lines to exclude from consideration
exclude_lines = [
    # Have to re-enable the standard pragma
    "pragma: no cover",
    # Don't complain about missing debug-only code:
    "def __repr__",
    "if self.debug",
    # Don't complain if tests don't hit defensive assertion code:
    "raise AssertionError",
    "raise NotImplementedError",
    # Don't complain if non-runnable code isn't run:
    "if 0:",
    "if __name__ == .__main__.:",
    # Type checking
    "if TYPE_CHECKING:",
]
ignore_errors = true

[tool.coverage.html]
directory = "htmlcov"

# Pytest
[tool.pytest.ini_options]
addopts = "--color=yes -vv -n=0"
testpaths = ["roseau/load_flow/"]
