name: CI

on:
  push:
    branches: [main, develop]
    tags:
      - "*"
    paths-ignore:
      - "doc/**"
      - ".vscode/**"
  pull_request:
    branches: [main, develop]
    paths-ignore:
      - "doc/**"
      - ".vscode/**"

env:
  CI: true
  UV_SYSTEM_PYTHON: 1
  COVERAGE_CORE: sysmon

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.13t", "3.14", "3.14t"]

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6
        with:
          lfs: false
          persist-credentials: false

      - name: Create LFS file list
        run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id

      - name: Cache git LFS
        uses: actions/cache@v4
        with:
          path: .git/lfs
          key: git-lfs-v1-${{ matrix.python-version }}-${{ hashFiles('.lfs-assets-id') }}
          restore-keys: |
            git-lfs-v1-${{ matrix.python-version }}
            git-lfs-v1
            git-lfs

      - name: Git LFS
        run: |
          git lfs checkout
          git lfs pull
          git lfs prune --verify-remote

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          uv sync --frozen --all-extras

      - name: Test with pytest
        run: |
          uv run pytest -vv --durations=25 --cov --cov-report=html roseau
        env:
          ROSEAU_LOAD_FLOW_LICENSE_KEY: ${{ secrets.ROSEAU_LOAD_FLOW_LICENSE_KEY }}

      - name: Archive code coverage results
        uses: actions/upload-artifact@v5
        if: ${{ always() }}
        with:
          name: code-coverage-report-${{ runner.os }}-python-${{ matrix.python-version }}
          path: htmlcov/
