name: pre-commit

on:
  push:
    branches: [main, develop]
    paths-ignore:
      - ".vscode/**"
      - ".idea/**"
    tags:
      - "*"
  pull_request:
    branches: [main, develop]
    paths-ignore:
      - ".vscode/**"
      - ".idea/**"

permissions: {}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
        with:
          lfs: false
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - uses: pre-commit/action@v3.0.1
